version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: froome-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: froome
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
